<title> Recipe App </title>
<form method ="POST" action = "/recipes/add">

<h1>Add User</h1>
	<label> Username </label> <br>
	<input type= "text" name = "username">
	<br>

	<label> First Name </label> <br>
	<input type= "text" name = "first_name">
	<br>

	<label> Last Name </label> <br>
	<input type= "text" name = "last_name">
	<br>

	<label> Email </label> <br>
	<input type= "text" name = "email">


<h1>Add Recipe</h1>

	<label> Recipe Name  </label> <br>
	<input type= "text" name = "recipe_name">
	<br>

	<label> Add ingredient 1  </label> <br>
	<input type= "text" name = "ing1_name">
	<br>
	
	<label> Add ingredient 2  </label> <br>
	<input type= "text" name = "ing2_name">
	<br>






	<input type = "submit" value = "Submit">
	
</form>